@mixin image-cover-Style {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;

}

@mixin overlay-cover-Style {
  position: absolute;
  inset: 0;
  background: rgba(59, 10, 69, 0.7);
  z-index: -1;


}
