:host {
  section {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    transition: left 0.3s ease-in-out;
      .link-list{
      .link-item{
          transition:  background-color 0.2s ease-in-out;
          a{
            color: #374151;
          }
        &:hover{
          background-color: var(--primary-color);
          color: var(--secondary-color);
        }
        i{
          color: var(--secondary-color);
        }
      }
    }
    @media (max-width:768px) {
      &.sidebar-open {
        left: 0;
      }
    }
  }



}