<section   [ngClass]="{'sidebar-open': sidebarVisible()}" class=" bg-white max-w-20rem">
    <div class="flex flex-column h-full">
      <div class="flex align-items-center justify-content-between px-4 py-3 flex-shrink-0" >
        <img src="logo.png" loading="lazy" alt="islamic_Logo" class="cursor-pointer w-5rem h-5rem" />
        <p-button type="button"  icon="pi pi-times" [rounded]="true" outlined="true" styleClass="h-2rem w-2rem" (onClick)="sidebarVisible.set(!sidebarVisible())" />
      </div>

      <div class="overflow-y-auto">
        <ul class="list-none p-3 m-0 link-list">
          @for (item of items; track $index) {
            <li class="link-item"  [routerLink]="item.routerLink" [fragment]="item.fragment"  routerLinkActive="router-active" >
              <a pRipple class="flex align-items-center cursor-pointer p-3 p-ripple gap-2" >
                <i [class]="item.icon + ' mr-2'"></i>
                <span class="font-medium">{{ item.label! | translate }}</span>
              </a>
            </li>
          }

         
        </ul>
      </div>
    </div>

</section>
