<app-landing id="home"></app-landing>

<app-c-info-cards id="info-cards"></app-c-info-cards>

<app-about-us
  id="about-us"
  [dir]="languageService.currentLanguage() === 'ar' ? 'rtl' : 'ltr'"
>
</app-about-us>

<app-services
  id="services"
  [dir]="languageService.currentLanguage() === 'ar' ? 'rtl' : 'ltr'"
>
</app-services>
<app-whay-us
  id="why-us"
  [dir]="languageService.currentLanguage() === 'ar' ? 'rtl' : 'ltr'"
>
</app-whay-us>

<app-gallery></app-gallery>

<app-vedio-carousel id="videos"></app-vedio-carousel>

<app-packages
  id="packages"
  [dir]="languageService.currentLanguage() === 'ar' ? 'rtl' : 'ltr'"
>
</app-packages>
<app-testimonials id="testimonials"></app-testimonials>
<app-contact-us
  id="contact-us"
  [dir]="languageService.currentLanguage() === 'ar' ? 'rtl' : 'ltr'"
>
</app-contact-us>
